<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nep-YTDL - YouTube Video Downloader</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/results.css">
</head>
<body>
    <div class="navbar">
        <img src="images/video.svg" alt="YouTube Logo">
    </div>

    <div class="container">
        <h1>Nep-YTDL - YouTube Video Downloader</h1>
        <video controls>
            <source src="/stream?url=<%= encodeURIComponent(url) %>&quality=<%= encodeURIComponent(formats[0].itag) %>" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
        <div class="dropdown">
            <label for="format">Select Format:</label>
            <select id="format" onchange="changeFormat(this)">
                <option value="webm">WEBM</option>
                <option value="mp4">MP4</option>
            </select>
        </div>
        
        <div id="download-options">
            <ul class="list-group">
                <% formats.forEach(function(format) { %>
                    <li class="list-group-item <% if (format.container === 'mp4') { %>mp4 <% } else if (format.container === 'webm') { %>webm <% } %>">
                        <span><%= format.qualityLabel || format.resolution %> (<%= format.container %>)</span>
                        <a href="/download?url=<%= url %>&quality=<%= format.itag %>&title=<%= encodeURIComponent(title) %>" class="btn">
                            <i class="fas fa-download download-icon"></i> Download
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>

    <script>
        function changeFormat(select) {
            const selectedFormat = select.value;
            const options = document.querySelectorAll('#download-options .list-group-item');

            options.forEach(option => {
                option.style.display = option.classList.contains(selectedFormat) ? 'flex' : 'none';
            });
        }
    </script>
</body>
</html>

